body {
	background-color: hsl(200, 50%, 50%);
}

#menu {
	background-color: color-mix(in hsl, var(--color-blue), transparent);
}

#menu.with-bg::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url("../assets/used/background/completo.png");
	background-size: cover;
	background-position: center;
	opacity: 0.5; /* 50% */
	z-index: -1;
}

.sound-button {
	border-radius: 10px;
	background-color: yellow;
	box-shadow: 1px 1px 5px black;
	transition: translate 225ms;
}

.instructions-text {
	background-color: color-mix(in hsl, white, transparent);
	border-radius: 10px;
}

.menu-button {
	border-radius: 10px;
	background-color: yellow;
	box-shadow: 1px 1px 5px black;
	transition: translate 225ms;
}

.menu-button:hover,
.sound-button:hover,
.back-to-homepage:hover {
	translate: 0 -2px;
	box-shadow: 1px 1px 5px white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	text-shadow: 1px 1px 5px black;
	text-align: center;
}

h2 {
	color: orange;
}

h4 {
	font-size: 1.25em;
	color: gold;
}

.orange {
	color: orange;
	text-shadow: 1px 1px 2px black;
}

.green {
	color: green;
	text-shadow: 1px 1px 5px white;
}

.yellow {
	color: yellow;
	text-shadow: 1px 1px 2px black;
}

.purple {
	color: purple;
	text-shadow: 1px 1px 5px white;
}

#menu.d-none {
	display: none;
}

.back-to-homepage {
	padding: 0.25rem;
	border-radius: 10px;
	background-color: yellow;
	transition: box-shadow 225ms, translate 225ms;
}

@media (orientation: portrait) {
	.options {
		display: none;
	}

	.note {
		display: initial;
	}
}
